.block{
	background-color: #2F80ED;
	display: inline-block;
	width:400px ;
	height: 720px;
}
p{
	color: white;
	padding-left: 100px;
	font-size: 24px;
}
button{
	width: 300px;
	height: 60px;
	background-color: #333333;
	color: white;
	font-size: 24px;
	margin-left: 44px;
	margin-bottom: 20px;

}
.foto{
	width: 700px;
	margin-left: 150px;
}
.block2{
	background-color: white;
	display: inline-block;
	width: 1000px;
	height: 400px;
	padding-bottom: 400px;
	vertical-align:top;
}
.paragrap_style1{
	color:#4F4F4F;
	padding-right: ;
	font-size: 36px;
	width: 561px;
	padding-left: 420px;

}
.paragrap_style2{
	color:#4F4F4F;
	font-size: 36px;
	width: 562px;
}
.button_style{
	padding-top: 100px;
}
